/* Main changes */

body{
    margin:0px;
    padding:0px;
}


.main {
    margin: 0px;
    width: 100%;
    padding: 0px;
    list-style-type: none;
}

.container-fluid a{
    text-decoration: none;
    color:white;
    padding: 4em;
}

.mbtn {
	background-color:#5e7d6f;
    text-decoration: none;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:11px 140px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2f6627;
    margin:7px;
}
.mbtn:hover {
	background-color:#61c295;
}
.mbtn:active {
	position:relative;
	top:1px;
}

.QGroup{
    height:90em;
}

.Ans{
    text-align: center;
}

/* footer {
    text-align: center;
    padding: 3px;
    background-color: #34dc9e;
    color: black;
  } */